
name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: 'node:14.15.3-alpine3.10'

    steps:
      - uses: actions/checkout@v2
      - run: yarn
      - run: yarn run build
      - run: yarn run test
