
name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: 'node:12.16.1-alpine3.9'

    steps:
      - uses: actions/checkout@v2
      - run: yarn
      - run: yarn run build
      - run: yarn run ci:test
